<include file="Public/header" title="系统信息" />
<div class="block2 clearfix"><div class="ur_here blank">

当前位置: <a >首页</a> <code>&gt;</code> 系统提示</div>  <div class="mod1 blank" id="messages">
	<span class="lt"></span><span class="lb"></span><span class="rt"></span><span class="rb"></span>
	<h1 class="mod1tit">系统信息</h1>
	<div class="mod1con">
			<div class="tips">用户名或密码错误</div>
		  <div class="tc" style="padding-bottom:20px;">
				<p><a href="{:U('Home/User/login')}">重新登录</a></p>
			</div>
		</div>
	</div>
</div>
<include file="Public/footer" />
