  <include file="Public/header" title="确认订单" /> 
  <div class="blank"></div> 
  <div class="block2"> 
   <div class="blank"></div> 
   <form action="{:U('Home/Flow/done')}" method="post" name="theForm" id="theForm"> 
    <div class="goodsTitle clearfix" style="background:#f6f6f6; border:#E3E3E3 solid 1px; border-bottom:none;"> 
     <span class="fl">商品列表</span>
     <a class="fr">修改</a>
    </div> 
    <foreach name="car" item="v"> 
    </foreach>
    <table class="floatTable" align="center" bgcolor="#e3e3e3" border="0" cellpadding="5" cellspacing="1" width="100%"> 
     <tbody>
      <tr> 
       <th bgcolor="#ffffff">商品名称</th> 
       <th bgcolor="#ffffff">本店价</th> 
       <th bgcolor="#ffffff">购买数量</th> 
       <th bgcolor="#ffffff">小计</th> 
      </tr> 
      <tr> 
       <td bgcolor="#ffffff"> <a target="_blank">{$v['goods_name']}</a> </td> 
       <td align="right" bgcolor="#ffffff">{$v['shop_price']}</td> 
       <td align="right" bgcolor="#ffffff">{$v['num']}</td> 
       <td class="price" align="right" bgcolor="#ffffff">￥{$v['shop_price']*$v['num']}元</td> 
      </tr>  
      <tr> 
       <td colspan="7" class="f1 f14b" style="text-align:right;" bgcolor="#ffffff"> 购物金额小计 ￥{$money}元</td> 
      </tr> 
     </tbody>
    </table> 
    <div class="goodsTitle clearfix" style="background:#f6f6f6; border:#E3E3E3 solid 1px; border-bottom:none;"> 
     <span class="fl">收货人信息</span>
     <a class="fr f1">修改</a> 
    </div> 
    <table class="floatTable" align="center" bgcolor="#e3e3e3" border="0" cellpadding="5" cellspacing="1" width="100%"> 
     <tbody> 
      <tr> 
       <td bgcolor="#ffffff">收货人姓名:</td> 
       <td bgcolor="#ffffff"><input type="text" name="xm" /></td> 
       <td bgcolor="#ffffff">电子邮件地址:</td> 
       <td bgcolor="#ffffff"></td> 
      </tr> 
      <tr> 
       <td bgcolor="#ffffff">详细地址:</td> 
       <td bgcolor="#ffffff"><input type="text" name="address" /></td> 
       <td bgcolor="#ffffff">邮政编码:</td> 
       <td bgcolor="#ffffff"></td> 
      </tr> 
      <tr> 
       <td bgcolor="#ffffff">电话:</td> 
       <td bgcolor="#ffffff"></td> 
       <td bgcolor="#ffffff">手机:</td> 
       <td bgcolor="#ffffff"><input type="number" name="mobile" /></td> 
      </tr> 
      <tr> 
       <td bgcolor="#ffffff">标志建筑:</td> 
       <td bgcolor="#ffffff"> </td> 
       <td bgcolor="#ffffff">最佳送货时间:</td> 
       <td bgcolor="#ffffff"></td> 
      </tr> 
     </tbody>
    </table> 
    <div class="goodsTitle" style="background:#f6f6f6; border:#E3E3E3 solid 1px; border-bottom:none;">
     其它信息
    </div> 
    <table class="floatTable" align="center" bgcolor="#e3e3e3" border="0" cellpadding="5" cellspacing="1" width="100%"> 
     <tbody> 
      <tr> 
       <td bgcolor="#ffffff" valign="top"><strong>订单附言:</strong></td> 
       <td bgcolor="#ffffff"><textarea name="note" cols="80" rows="3" id="postscript" class="InputBorder"></textarea></td> 
      </tr> 
      <tr> 
       <td bgcolor="#ffffff"><strong>缺货处理:</strong></td> 
       <td bgcolor="#ffffff"> <label> <input name="how_oos" value="0" checked="checked" type="radio" /> 等待所有商品备齐后再发</label> <label> <input name="how_oos" value="1" type="radio" /> 取消订单</label> <label> <input name="how_oos" value="2" type="radio" /> 与店主协商</label> </td> 
      </tr> 
     </tbody>
    </table> 
    <div class="goodsTitle" style="background:#f6f6f6; border:#E3E3E3 solid 1px; border-bottom:none;">
     费用总计
    </div> 
    <div id="ECS_ORDERTOTAL"> 
     <table class="floatTable" align="center" bgcolor="#e3e3e3" border="0" cellpadding="5" cellspacing="1" width="100%"> 
      <tbody>
       <tr> 
        <td align="right" bgcolor="#ffffff"> 该订单完成后，您将获得<font class="f1 f4_b">{$money}</font> 积分，以及价值<font class="f1 f4_b">￥{$money/1000}元</font>的红包。 </td> 
       </tr> 
       <tr> 
        <td align="right" bgcolor="#ffffff"> 商品总价: <font class="f1 f14b">￥{$money}元</font> </td> 
       </tr> 
       <tr> 
        <td align="right" bgcolor="#ffffff"> 应付款金额: <font class="f1 f14b">￥{$money}元</font> </td> 
       </tr> 
      </tbody> 
     </table> 
    </div> 
    <div style="margin:8px auto;" align="center"> 
     <input src="__PUBLIC__/Home/images/bnt_subOrder.gif" type="image" /> 
     <input name="step" value="done" type="hidden" /> 
    </div> 
   </form> 
  </div> 
  <include file="Public/footer" />