  <include file="Public/header" title="查看商品" /> 
  <div class="block2 clearfix"> 
   <div class="ur_here blank">
     当前位置: 
    <a href="">首页</a> 
    <code>&gt;</code> 
    <foreach name="mbx" item="mbx"> 
     <a href="{:U('Home/Cat/cat',array('cat_id'=>$mbx['cat_id']))}">{$mbx.cat_name}</a> 
     <code>&gt;</code> 
    </foreach> {$goods['goods_name']}
   </div> 
   <div class="clearfix"> 
    <div class="goodsimgbox fl"> 
     <div id="focuscont"> 
      <a style="border: 1px solid rgb(210, 208, 208); width: 400px; height: 400px; display: block; padding: 0px; position: relative; outline: 0px; text-decoration: none;" href="{$goods['goods_img']}" id="zoom1" class="MagicZoom MagicThumb" title="ECSHOP模板中心68ecshop.com测试商品"> <img src="{$goods['goods_img']}" alt="{$goods['goods_name']}" width="400" height="400" style="margin:0;" id="sim974895" /> 
       <div id="bc974895" class="MagicZoomBigImageCont" style="width: 310px; height: 310px; overflow: hidden; z-index: 100; visibility: hidden; position: absolute; top: -10000px; left: 415px;">
        <div class="MagicZoomHeader" id="MagicZoomHeaderbc974895" style="position: relative; z-index: 10; left: 0px; top: 0px; padding: 3px;">
         {$goods['goods_name']}
        </div>
        <div style="overflow: hidden;">
         <img src="__PUBLIC__/Home/images/32_G_1370338389558.jpg" style="position: relative; border-width: 0px; padding: 0px; left: 0px; top: 0px;" />
        </div>
        <div style="color: rgb(255, 0, 0); font-size: 10px; font-weight: bold; font-family: Tahoma; position: absolute; width: 100%; text-align: center; left: 0px; top: 290px;"></div>
       </div>
       <div class="MagicZoomPup" style="z-index: 10; visibility: hidden; position: absolute; opacity: 0.05; width: 98px; height: 98px;"></div></a> 
     </div> 
     <div class="picture" id="imglist"> 
     </div> 
    </div> 
    <div class="goodstxtbox fr" style="width:550px; overflow:hidden"> 
     <h4 class="goodName"> {$goods['goods_name']}
      <div class="prev"> 
       <a href="" style="color:#CCC; font-size:12px;">下一个</a> 
      </div> </h4> 
      <p class="goodsInfo"> 
        <span>商品货号：{$goods['goods_sn']}</span> 
        <span>商品库存： {$goods['goods_number']} 台</span> 
        <span>商品重量：{$goods['goods_weight']}千克</span> 
        <span>上架时间：{$goods['add_time']}</span> 
        <span>商品点击数：{$goods['click_count']}</span> 
        <span>用户评价： <img src="__PUBLIC__/Home/images/stars5.gif" alt="comment rank 5" /> </span></p> 
      <div class="Goodpromotion" style="float:left; width:550px; border-left:none; border-right:none;"> 
       <font style="font-size:12px;">本店售价：</font>
       <font class="price" id="ECS_SHOPPRICE" style="font-size:20px;">{$goods['shop_price']}</font>
       <br /> 
       <font class="goodspice" style="color:#CCC">市场价格：<span class="market">{$goods['market_price']}</span></font>
       <br /> 
       <div class="blank"></div> 
       <a href="{:U('Home/Flow/add',array('goods_id'=>$goods['goods_id']))}"><img src="__PUBLIC__/Home/images/bnt_buy.gif" /></a> 
      </div> 
    </div> 
   </div> 
   <div class="infotit clearfix" id="com_b"> 
    <h2 style="cursor: pointer;">商品描述</h2> 
   </div> 
   <div class="tagcontent" id="com_v"> 
    <p>{$goods['goods_name']}</p> 
    <p>{$goods['goods_brief']}</p>
    <p>{$goods['goods_desc']}</p>
   </div> 
   <div id="ECS_COMMENT"> 
    <div class="clearfix" style="border:1px solid #C9DCEF; border-top:2px solid #509d0e"> 
     <h2 style=" margin:10px 0px 0px 20px; font-size:14px; color:#333333">用户评论</h2> 
     <if condition="$comment eq null"> 
      <div class="tips">暂时没有任何用户评论</div> 
      <else /> 
      <foreach name="comment" item="com"> 
       <div style="padding:10px;font-size: 18px">
        <span style="color:orange">{$com['email']}</span>：{$com['content']}
       </div> 
      </foreach> 
     </if> 
     <div class="Goodpromotion blank"> 
      <form action="{:U('Home/goods/comment')}" method="post" name="commentForm" id="commentForm"> 
       <table border="0" cellspacing="5" cellpadding="0"> 
        <tbody>
         <tr> 
          <td align="right">用户名：</td> 
          <td>{$Think['cookie']['username']?$Think['cookie']['name']:'匿名'}</td> 
         </tr> 
         <tr> 
          <td align="right">E-mail：</td> 
          <td> <input type="text" name="email" id="email" maxlength="100" value="" class="InputBorder" /> </td>
         </tr> 
         <tr> 
          <td align="right" valign="top">评论内容：</td> 
          <td> <textarea name="content" class="InputBorder" cols="80" rows="3"></textarea> <input type="hidden" name="goods_id" value="{$goods['goods_id']}" /> <input type="hidden" name="user_id" value="{$Think['cookie']['user_id']?$Think['cookie']['user_id']:0}" /> </td> 
         </tr> 
         <tr> 
          <td colspan="2"> <input name="" type="submit" value="提交评论" class="bnt_number4 fr" /> </td> 
         </tr> 
        </tbody>
       </table> 
      </form> 
     </div> 
    </div> 
   </div> 
  </div> 
  <include file="Public/footer" />